@use "@/styles/includes" as *;

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3)
    );
    z-index: 1;
  }

  .imageWrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
  }

  .image {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .image.active {
    opacity: 1;
    z-index: 1;
  }

  .title {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;

    .titleText {
      color: var(--mui-palette-white-900);
      font-family: "Poppins", sans-serif !important;
      font-weight: 700;
      text-transform: uppercase;

      @include media-breakpoint-down(lg) {
        font-size: toRem(76);
      }
    }
  }
}