@use "@/styles/includes" as *;

.contactsContainer {
  .grid1 {
    display: flex;
    align-items: center;

    .mapBox {
      width: 100%;
      z-index: 1;
    }
  }

  .grid2 {
    display: flex;
    align-items: center;
    .textBox {
      display: flex;
      flex-direction: column;
      gap: toRem(32);

      @include media-breakpoint-down(lg) {
        width: 100%;
        text-align: center;
        align-items: center;
        padding-bottom: toRem(24);
      }

      .addressBox,
      .phoneBox,
      .emailBox {
        display: flex;
        flex-direction: column;
        gap: toRem(8);

        @include media-breakpoint-down(lg) {
          align-items: center;
        }
      }

      .title {
        font-family: "Jost", sans-serif !important;
        font-weight: 500;
        color: var(--mui-palette-primary-main);
      }

      .description {
        font-family: "Poppins", sans-serif !important;
        color: var(--mui-palette-white-900);
        text-underline-offset: 3px;
        display: flex;
        width: fit-content;
        text-decoration: none;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 0;
          height: 1px;
          width: 0;
          background-color: var(--mui-palette-primary-main);
          transition: width 0.5s ease;
        }

        &:hover {
          color: var(--mui-palette-primary-main);
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
  }
}

.formContainer {
  background-color: var(--mui-palette-success-main);
  padding: toRem(64) 0;
  margin: 0 !important;
  transition: height 0.3s ease;
  min-height: toRem(250);
  position: relative;

  @include media-breakpoint-down(lg) {
    padding: toRem(32) 0;
    // min-height: toRem(400);s
  }

  .loaderBox {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .feedbackBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: toRem(32);

    .feedbackText {
      text-align: center;
    }
  }

  .formBox {
    display: flex;
    flex-direction: column;
    gap: toRem(32);
    background-color: var(--mui-palette-success-main);

    .text {
      display: flex;
      flex-direction: column;
      gap: toRem(8);
      .title {
        font-family: "Jost", sans-serif !important;
      }

      .description {
        font-family: "Poppins", sans-serif !important;
      }

      .errorTextMobile {
        color: var(--mui-palette-secondary-main);
        font-family: "Poppins", sans-serif !important;
      }
    }

    .form {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: toRem(24);

      .inputBox {
        position: relative;
        width: 100%;

        &:last-child {
          grid-column: span 2;
        }

        .inputField {
          width: 100%;
        }
      }
    }

    .submitBox {
      display: flex;
      justify-content: center;
      position: relative;

      .errorText {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: var(--mui-palette-secondary-main);
        font-family: "Poppins", sans-serif !important;
      }

      .cta {
        width: 20%;
        position: relative;
        overflow: hidden;
        transition: background-color 0.3s ease;

        @include media-breakpoint-down(lg) {
          width: 100%;
        }

        .text,
        .textHover {
          position: absolute;
          width: 100%;
          text-align: center;
          left: toRem(-8);
        }

        .textWrapper {
          visibility: hidden;
          opacity: 0;
        }

        .text {
          top: 50%;
          transform: translateY(-50%);
          transition: opacity 0.3s ease;
        }

        .textHover {
          top: 100%;
          transform: translateY(0%);
          opacity: 0;
        }

        &:hover .text {
          animation: slideUp 0.5s forwards;
        }

        &:hover .textHover {
          animation: slideIn 0.5s forwards;
        }
        &:hover {
          background-color: var(--mui-palette-grey-700);
        }
      }
    }
  }
}

@keyframes slideUp {
  0% {
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
  }
  100% {
    top: -100%;
    opacity: 0;
    transform: translateY(-50%);
  }
}

@keyframes slideIn {
  0% {
    top: 100%;
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
  }
}
