@use '@/styles/includes' as *;

body {
    background-color: var(--mui-palette-grey-900) !important;
    font-family: 'Jost', sans-serif !important;
    color: var(--mui-palette-white-900) !important;
}

.MuiAccordionSummary-content.Mui-expanded {
  margin: 0 !important;
  min-height: toRem(48) !important;
}