@use "@/styles/includes" as *;

.footer {
  background-color: var(--mui-palette-primary-main);

  .footerContainer {
    display: flex;
    flex-direction: column;
    gap: toRem(28);
    padding-top: toRem(32);
    padding-bottom: toRem(32);
    margin: 0;

    @include media-breakpoint-down(lg) {
      position: relative;
    }

    .firstRow {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        gap: toRem(16);
        align-items: flex-start;
      }

      .logo {
        margin-left: toRem(-24);

        @include media-breakpoint-down(lg) {
          margin: auto;
        }
        a {
          display: flex;
        }
      }

      .links {
        display: flex;
        gap: toRem(32);

        @include media-breakpoint-down(xxl) {
          gap: toRem(12);
          flex-direction: column;
        }

        .link {
          position: relative;
          display: flex;
          width: fit-content;
          color: var(--mui-palette-white-900);
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
          font-size: toRem(20);
          transition: color 0.2s ease;

          @include media-breakpoint-down(xl) {
            font-size: toRem(18);
          }

          @include media-breakpoint-down(lg) {
            font-size: toRem(16);
          }

          &:hover {
            color: var(--mui-palette-success-main);
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 0;
            background-color: var(--mui-palette-success-main);
            transition: width 0.5s ease;
          }

          &:hover::after {
            width: 100%;
          }
        }
      }

      .location {
        display: flex;
        align-items: center;
        gap: toRem(8);
        cursor: pointer;

        @include media-breakpoint-down(xl) {
          gap: toRem(4);
        }

        &:hover {
          .icon {
            color: var(--mui-palette-success-main);
          }

          .address {
            color: var(--mui-palette-success-main);

            &::after {
              width: 100%;
            }
          }
        }

        .icon {
          transition: color 0.2s ease;
        }

        .address {
          color: var(--mui-palette-white-900);
          font-size: toRem(20);
          text-decoration: none;
          position: relative;
          transition: color 0.2s ease;

          @include media-breakpoint-down(xl) {
            font-size: toRem(18);
          }

          @include media-breakpoint-down(lg) {
            font-size: toRem(16);
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 1px;
            width: 0;
            background-color: var(--mui-palette-success-main);
            transition: width 0.5s ease;
          }
        }
      }

      .contacts {
        @include media-breakpoint-down(lg) {
          position: absolute;
          z-index: 9;
          top: -7%;
          left: 50%;
          transform: translateX(-50%);
        }

        .contactsButton {
          background-color: var(--mui-palette-success-main);
          color: var(--mui-palette-white-900);
          display: flex;
          gap: toRem(8);
          position: relative;
          overflow: hidden;

          @media (min-width: 1440px) and (max-width: 1480px) {
            gap: toRem(4);
            padding: toRem(16) toRem(12);
          }

          @include media-breakpoint-down(xl) {
            padding: toRem(16) toRem(16);
            gap: toRem(6);
          }

          .icon {
            transition: color 0.2s ease;
          }

          &:hover {
            background-color: var(--mui-palette-grey-700);
            color: var(--mui-palette-primary-main);

            .icon {
              color: var(--mui-palette-primary-main);
            }
          }

          .text,
          .textHover {
            position: absolute;
            width: 100%;
            text-align: center;
            left: toRem(16);
          }

          .textWrapper {
            visibility: hidden;
            opacity: 0;
          }

          .text {
            top: 50%;
            transform: translateY(-50%);
            transition: opacity 0.3s ease;
          }

          .textHover {
            top: 100%;
            transform: translateY(0%);
            opacity: 0;
          }

          &:hover .text {
            animation: slideUp 0.5s forwards;
          }

          &:hover .textHover {
            animation: slideIn 0.5s forwards;
          }
        }
      }
    }

    .secondRow {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include media-breakpoint-down(lg) {
        flex-direction: column;
        gap: toRem(8);
        align-items: flex-start;
      }

      .copyright {
        color: var(--mui-palette-white-900);
      }

      .madeBy {
        color: var(--mui-palette-white-900);
      }
    }
  }
}

@keyframes slideUp {
  0% {
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
  }
  100% {
    top: -100%;
    opacity: 0;
    transform: translateY(-50%);
  }
}

@keyframes slideIn {
  0% {
    top: 100%;
    opacity: 0;
    transform: translateY(0%);
  }
  100% {
    top: 50%;
    opacity: 1;
    transform: translateY(-50%);
  }
}