@use "@/styles/includes" as *;

.slideBox {
    .image {
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
        height: toRem(600);
        // border-radius: toRem(16);
    }

    .text {
        .title {
            font-family: "Poppins_Bold", sans-serif;
            text-transform: uppercase;
            font-size: toRem(32);
        }
        .content {
            font-family: "Jost", sans-serif;
            font-size: toRem(18);
        }
    }
}