@use "@/styles/includes" as *;

.landscapePresentation {
  background-color: var(--mui-palette-white-800);
  color: var(--mui-palette-grey-900);
  display: flex;
  flex-direction: column;
  gap: toRem(32);

  .landscapeContainer {
    padding-bottom: 0;
    .text {
      text-align: center;
      display: flex;
      flex-direction: column;
      gap: toRem(16);
      .title {
        font-family: "Poppins_Bold", sans-serif;
        text-transform: uppercase;
        font-size: toRem(42);
      }

      .description {
        font-family: "Jost", sans-serif;
        font-size: toRem(20);
      }
    }
  }

  .swiperBox {
    padding-bottom: toRem(40);

    @include media-breakpoint-down(lg) {
      padding-bottom: toRem(20);
    }

    .swiper {
        position: relative;
        .landscapeButtons {
            display: flex;
            justify-content: center;
            gap: toRem(24);
            width: 100%;
            
            .landscapePrevButton,
            .landscapeNextButton {
              width: toRem(48);
              height: toRem(48);
              border-radius: 50%;
              background-color: var(--mui-palette-primary-main);
              display: flex;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              transition: background-color 0.2s ease-in-out;
              color: var(--mui-palette-white-900);
    
              @include media-breakpoint-up(md) {
                &:hover {
                  background-color: var(--mui-palette-success-main);
                }
              }
            }
          }
    }
  }
}
