@use "@/styles/includes" as *;

.infoContainer {
  .textBox {
    display: flex;
    flex-direction: column;
    gap: toRem(8);

    .title {
      font-family: "Poppins", sans-serif;
      color: var(--mui-palette-primary-main);
      text-transform: uppercase;
      font-weight: 700;
      font-size: toRem(42);
    }

    .desc {
      font-family: "Jost", sans-serif;
      font-size: toRem(20);
    }
  }
  .numbersBox {
    display: flex;
    justify-content: space-between;
    gap: toRem(88);

    @include media-breakpoint-down(lg) {
      flex-direction: column;
      align-items: center;
      gap: toRem(24);
    }
    .numberItem {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: toRem(270);

      .countup {
        font-size: toRem(64);
        font-family: "Jost", sans-serif;
        font-weight: 700;
        color: var(--mui-palette-primary-main);

        @include media-breakpoint-down(lg) {
          font-size: toRem(36);
        }
      }

      .numberTitle {
        text-align: center;
        font-size: toRem(24);
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Jost", sans-serif;

        @include media-breakpoint-down(lg) {
          font-size: toRem(20);
        }
      }
    }
  }
}
