@use "@/styles/includes" as *;

.carouselContainer {
  display: flex;
  flex-direction: column;

  .titleBox {
    display: flex;
    flex-direction: column;
    gap: toRem(8);

    .title {
      font-size: toRem(42);
      font-family: "Poppins_Bold", sans-serif;
      text-transform: uppercase;
      color: var(--mui-palette-primary-main);
    }

    .description {
      font-size: toRem(20);
      font-family: "Jost", sans-serif;
    }
  }

  .swiperBox {
    .swiper {
      .swiperSlide {
        .slideBox {
          padding: 0 toRem(32);

          @include media-breakpoint-down(lg) {
            padding: 0;
          }
        }
      }

      .carouselButtons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        gap: toRem(24);
        width: 100%;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);

        .carouselPrevButton,
        .carouselNextButton {
          width: toRem(48);
          height: toRem(48);
          border-radius: 50%;
          background-color: var(--mui-palette-primary-main);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          transition: background-color 0.2s ease-in-out;

          @include media-breakpoint-up(md) {
            &:hover {
              background-color: var(--mui-palette-success-main);
            }
          }
        }
      }
    }

    .pagination {
      text-align: center;
      display: flex;
      height: fit-content;
      justify-content: center;
      width: 100%;
      gap: toRem(8);
      :global(.swiper-pagination-bullet) {
        width: toRem(20);
        height: toRem(8);
        background: var(--mui-palette-white-900);
        opacity: 1;
        transition: all 0.3s ease;
        border-radius: toRem(4);
        margin: 0 !important;
        cursor: pointer;

        @include media-breakpoint-up(lg) {
          &:hover {
            background: var(--mui-palette-success-main);
          }
        }
      }

      :global(.swiper-pagination-bullet-active) {
        width: toRem(36);
        border-radius: toRem(4);
        background: var(--mui-palette-primary-main);
      }

      :global(.swiper-pagination-lock) {
        display: none !important;
      }

      &:global(.swiper-pagination-lock) {
        display: none !important;
      }

      &.dark {
        :global(.swiper-pagination-bullet) {
          background: var(--mui-palette-grey-40);
        }

        :global(.swiper-pagination-bullet-active) {
          background: var(--mui-palette-neutral-white100);
        }
      }
    }
  }
}
